html{
    height: 100%;
    width: 100%;
    background: lightblue;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: white
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 500%;
    background-color: white;
}

a {
  cursor: pointer;
}

#mainOne{ 
    display:flex;
    height: 20%;
    width: 100%;


    flex-direction: column;
}

header { /* 10 % HEADER*/
    height: 10%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Merriweather", serif;
}

.hname{
    margin-right: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;    
    width: 270px;
    height: 50px;
    border: 3px solid white;
    border-radius: 10px;
}

.htitel{
    font-size: 15px;
    width: 420px;
    text-align: center;
}

.hicon{
    height: 50px;
    width: 420px;
    display: flex;
    justify-content: end;
}
.hpicture{
    background-image: url(./img/CookieBreh.png);
    background-size: cover;
    height: 50px;
    width: 50px;
}
.centerText{ /* 20 % Text Titel 'CLICKE the C.....*/
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 15%;
    font-size: 22px;
    margin: 30px;
    background-color: white
}

.loginRegister_container{/* 70 % LOGIN_REGISTER_FORM*/
    height: 70%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: white;
    border: 1px solid transparent;
}

.loginRegisterHolder{
    margin-top: 20px;
    display: flex;
    height: 270px;
    width: 200px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 2px solid darkcyan;
    border-radius: 10px;
    box-shadow: 0px 10px 10px darkcyan;
    padding: 30px;
    flex-direction: column;
    color: black;
}

.form-holder{
    padding: 4px;
    border-radius: 5px;
    margin: 15px;
}

.input_input{
    color: white;
    background-color: black;
    padding: 10px;
    border: 3px grey solid;
    border-radius: 10px;
}

.input_input_button{
    color: white;
    background-color: black;
    padding: 10px;
    border: 3px grey solid;
    border-radius: 10px;
}
a{
    color: black;
}