html {
  height: 100%;
  width: 100%;
  background: lightblue;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: white;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
  background-image: url(./img/user_bgr.jpg);
}

a {
  cursor: pointer;
}

#mainOne {
  display: flex;
  height: 18%;
  width: 100%;

  flex-direction: column;
}

header {
  /* 10 % HEADER*/
  height: 75px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color:  rgb(141, 141, 141);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hname {
  margin-right: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  width: 270px;
  height: 50px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(83, 83, 83);
  z-index: 1;
  text-shadow: 1px 1px 0 black, /* Bottom-right */ -1px 1px 0 black,
    /* Bottom-left */ 1px -1px 0 black, /* Top-right */ -1px -1px 0 black; /* Top-left */
}

.hicon {
  height: 50px;
  width: 420px;
  display: flex;
  justify-content: end;
  z-index: 1;
}

.hpicture {
  background-image: url(./img/CookieBreh.png);
  background-size: cover;
  height: 50px;
  width: 50px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  background-color: rgb(83, 83, 83);
}

.cpicture {
  background-image: url(./img/CookieBreh.png);
  height: 20px;
  width: 20px;
}

.centerText, #winPricesTitle, #ClimbUpTheLadder, #tryOutTitle{
  /* 20 % Text Titel 'CLICKE the C.....*/
  color: black;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 15%;
  font-size: 22px;
  margin: 30px;
  background-color: transparent;
  z-index: 1;
  color: white; /* Text color */
  text-shadow: 1px 1px 0 black, /* Bottom-right */ -1px 1px 0 black,
    /* Bottom-left */ 1px -1px 0 black, /* Top-right */ -1px -1px 0 black; /* Top-left */
}

.login_container {
  /* 70 % LOGIN_REGISTER_FORM*/
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: top;
  background-color: transparent;
  border: 1px solid transparent;
  z-index: 1;
}

.loginHolder {
  margin-top: 20px;
  display: flex;
  height: 300px;
  width: 200px;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(62, 62, 62);
  background-color: rgb(220, 220, 220, 0.97);
  border-radius: 10px;
  box-shadow: 0px 10px 10px white;
  padding: 27px 35px 35px 35px;
  flex-direction: column;
  color: black;
}

.form-holder {
  padding: 4px;
  border-radius: 5px;
  margin: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-holder_2 {
  padding: 4px;
  border-radius: 5px;
  margin: 15px;
  color: black;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_input {
  color: white;
  background-color: black;
  padding: 10px;
  border: 3px grey solid;
  border-radius: 10px;
}

.input_input_button {
  color: white;
  background-color: black;
  padding: 14px;
  border: 3px grey solid;
  border-radius: 10px;
  cursor: pointer;

}

.input_input_button:hover {
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border: 3px #9c8809 solid;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.input_input::placeholder {
  color: rgba(255, 255, 255, 0.473);
}

a {
  color: black;
}
a:hover {
  font-weight: bolder;
  color: #9c8809;
}

#canvas1 {
  z-index: 1;
  position: fixed;
  background-color: rgb(240, 240, 240);
}
.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: rgb(83, 83, 83);
  z-index: 1;
  margin-top: auto;
}

.fname {
  margin-right: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  width: 270px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(83, 83, 83);
  z-index: 1;
  text-shadow: 1px 1px 0 black, /* Bottom-right */ -1px 1px 0 black,
    /* Bottom-left */ 1px -1px 0 black, /* Top-right */ -1px -1px 0 black; /* Top-left */
}

.ficon {
  height: 50px;
  width: 420px;
  display: flex;
  justify-content: end;
  z-index: 1;
}

.fpicture {
  background-image: url(./img/CookieBreh.png);
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 0.5rem;
  background-color: rgb(83, 83, 83);
}

#mainTwo {
  display: flex;
  height: 15%;
  width: 100%;

  flex-direction: column;
  background-color: transparent;
  z-index: 4;
  color: black;
  justify-content: top;
  align-items: center;
  background-color: transparent;
}

#preview {
  background-color: transparent;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 15px 15px 0px 0px;
  width: 890px;
  height: 60%;
  justify-content: center;
  align-items: top;
  display: flex;
  flex-direction: column;
}

#previewGIF {
  background-color: rgba(221, 236, 242, 0.559);
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}
#GIFinformation {
  width: 890px;
  height: 20%;
  background-color: rgb(220, 220, 220, 0.99);
  border: 3px solid black;
  font-size: 20px;
  font-weight: bold;
}

#mainThree {
  display: flex;
  height: 15%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  flex-direction: column;
  z-index: 4;
  justify-content: top;
  align-items: center;
}

.leaderboard-section {
  width: 600px;
  margin: 40px auto;
  text-align: center;
}

.leaderboard-section h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.leaderboard-section p {
  color: #cccccc;
  margin-bottom: 30px;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.entry {
  background: #1d1d1d;
  padding: 15px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  transition: 0.3s;
}

.entry.highlight {
  border: 2px solid gold;
  background: #2a2a2a;
}

.rank {
  font-weight: bold;
  opacity: 0.7;
}

.name {
  flex-grow: 1;
  text-align: center;
}

.points {
  opacity: 0.8;
}

.rank-arrow {
  color: gold;
  font-size: 22px;
  margin-left: 10px;
  animation: arrowUp 1s infinite;
}

/* keyframes animation */
@keyframes arrowUp {
  0%   { transform: translateY(4px); opacity: 0.8; }
  50%  { transform: translateY(-4px); opacity: 1; }
  100% { transform: translateY(4px); opacity: 0.8; }
}





#mainFour {
  display: flex;
  height: 15%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  flex-direction: column;
  z-index: 4;
  justify-content: top;
  align-items: center;
}

#prices{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    
}
#winPricesTitle, #ClimbUpTheLadder, #tryOutTitle {
    font-size: 40px;
    word-spacing: 10px;
}

#merch_01{
    background-size: cover;
    height: 500px;
    width: 500px;
    margin-bottom: 0px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}
#merch_04{
    background-size: cover;
    height: 400px;
    width: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#eblem_01{
    background-size: cover;
    height: 300px;
    width: 350px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding-bottom: 25px;
}

#merch_01_img{
    background-image: url(./img/merch_1.png);
    background-size: cover;
    height: 400px;
    width: 300px;
    border: 3px solid black;
}
#merch_04_img{
    background-image: url(./img/merch_4.png);
    background-size: cover;
    height: 180px;
    width: 150px;
    border: 3px solid black;
}
#eblem_01_img{
    background-image: url(./img/eblem_1.png);
    background-size: cover;
    height: 130px;
    width: 100px;
    border: 3px solid black;
}

#mainFive {
  display: flex;
  height: 15%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.0);
  color: black;
  flex-direction: column;
  z-index: 4;
  justify-content: center;
  align-items: center;
}


@keyframes floatUpDown {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

#mainCookiepng {
  background-image: url(./img/cookie_1.png);
  background-size: 300px 450px;
  height: 300px;
  width: 300px;
  clip-path: circle(37% at 50% 50%);
  cursor: pointer;
  background-position: center;
  animation: floatUpDown 3s ease-in-out infinite;
}

#mainCookie {
  display: flex;
  height: 600px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.0);
  color: black;
  flex-direction: column;
  z-index: 4;
  justify-content: center;
  align-items: center;
}

.login_icon {
  border-radius: 500px;
  border: 3px solid black;
  width: 50px;
  height: 50px;
}

.login_icon_container{
  display: flex;
  justify-content: end;
  width: 370px;
}

.login_icon:hover {
  border: 4px solid #9c8809;
  cursor: pointer;
}

