/* =====================
   GLOBAL
===================== */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url(./img/user_bgr.jpg);
  background-position: center;
}

/*--------- LINKS ---------*/
a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
  color: #9c8809;
}

/*--------- HEADER ---------*/
header {
  height: 75px;
  width: 100%;
  background-color: rgb(141, 141, 141);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hname {
  margin-right: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 50px;
  font-size: 15px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgb(83, 83, 83);
  text-shadow:
    1px 1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
}

.login_icon {
  border-radius: 500px;
  border: 3px solid black;
  width: 50px;
  height: 50px;
}

.login_icon_container{
  display: flex;
  justify-content: end;
  width: 370px;
}

.login_icon:hover {
  border: 4px solid #9c8809;
  cursor: pointer;
}



/*--------- LEADORBOARD ---------*/
#leaderboard {
  display:flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.8);
}

#leaderboard_element{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 10%;
  background-color: black;
  margin: 7px;
  border: 1px solid darkblue;
  border-radius: 15px;
}





/*--------- MAIN COOKIE ---------*/
#mainCookie {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 300px; 
  z-index: 1; 
}

#mainCookiepng {
  background-image: url(./img/cookie_1.png);
  background-size: 300px 450px;
  background-position: center;
  height: 300px;
  width: 300px;
  clip-path: circle(37% at 50% 50%);
  cursor: pointer;
  animation: floatUpDown 3s ease-in-out infinite;
}


#mainCookieCounter{
  color: black;
  font-size: 30px;
}

/*--------- FOOTER ---------*/
.main-footer {
  margin-top: auto;
  height: 120px;
  width: 100%;
  background-color: rgb(83, 83, 83);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fname {
  margin-right: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 50px;
  font-size: 15px;
  text-shadow:
    1px 1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
}

.ficon {
  height: 50px;
  width: 420px;
  display: flex;
  justify-content: end;
}

.fpicture {
  background-image: url(./img/CookieBreh.png);
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 0.5rem;
}

/*--------- ANIMATION ---------*/
@keyframes floatUpDown {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}


