html {
  height: 100%;
  width: 100%;
  background: lightblue;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: white;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 120%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

#mainOne {
  display: flex;
  height: 95%;
  width: 100%;

  flex-direction: column;
}

header {
  /* 10 % HEADER*/
  height: 10%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color:  rgb(141, 141, 141);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hname {
  margin-right: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  width: 270px;
  height: 50px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(83, 83, 83);
  z-index: 1;
  text-shadow: 1px 1px 0 black, /* Bottom-right */ -1px 1px 0 black,
    /* Bottom-left */ 1px -1px 0 black, /* Top-right */ -1px -1px 0 black; /* Top-left */
}

.hicon {
  height: 50px;
  width: 420px;
  display: flex;
  justify-content: end;
  z-index: 1;
}

.hpicture {
  background-image: url(./img/CookieBreh.png);
  background-size: cover;
  height: 50px;
  width: 50px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  background-color: rgb(83, 83, 83);
}
.centerText {
  /* 20 % Text Titel 'CLICKE the C.....*/
  color: black;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 15%;
  font-size: 22px;
  margin: 30px;
  background-color: transparent;
  z-index: 1;
  color: white; /* Text color */
  text-shadow: 1px 1px 0 black, /* Bottom-right */ -1px 1px 0 black,
    /* Bottom-left */ 1px -1px 0 black, /* Top-right */ -1px -1px 0 black; /* Top-left */
}

.Register_container {
  /* 70 % LOGIN_REGISTER_FORM*/
  height: 70%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: top;
  background-color: transparent;
  border: 1px solid transparent;
  z-index: 1;
}

.RegisterHolder {
  margin-top: 20px;
  display: flex;
  height: 450px;
  width: 300px;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(62, 62, 62);
  background-color: rgb(220, 220, 220, 0.97);
  border-radius: 10px;
  box-shadow: 0px 10px 10px white;
  padding: 30px;
  flex-direction: column;
  color: black;
}

.form-holder {
  padding: 4px;
  border-radius: 5px;
  margin: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-holder_2 {
  padding: 4px;
  border-radius: 5px;
  margin: 15px;
  color: black;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-holder a{
  text-decoration: none;
}



.input_input {
  color: white;
  background-color: black;
  padding: 10px;
  border: 3px grey solid;
  border-radius: 10px;
}

.input_input_button {
  color: white;
  background-color: black;
  padding: 14px;
  border: 3px grey solid;
  border-radius: 10px;
  cursor: pointer;
}
.input_input::placeholder {
  color: rgba(255, 255, 255, 0.473);
}

.input_input_button:hover {
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border: 3px #9c8809 solid;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.registrationBottomText{
  display: flex; 
  align-items: center; 
  justify-content:center;
}

a {
  color: black;
}

a:hover {
  font-weight: bolder;
  color: #9c8809;
}

.return-arrow {
  width: 15px;
  height: 15px;
}

.return-arrow:hover {
  width: 17px;
  height: 17px;
}

#canvas1 {
  z-index: 1;
  position: fixed;
  background-color: rgb(240, 240, 240);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
  background-color: rgb(83, 83, 83);
  z-index: 1;
  margin-top: auto;
}

.fname {
  margin-right: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  width: 270px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(83, 83, 83);
  z-index: 1;
  text-shadow: 1px 1px 0 black, /* Bottom-right */ -1px 1px 0 black,
    /* Bottom-left */ 1px -1px 0 black, /* Top-right */ -1px -1px 0 black; /* Top-left */
}

.ficon {
  height: 50px;
  width: 420px;
  display: flex;
  justify-content: end;
  z-index: 1;
}

.fpicture {
  background-image: url(./img/CookieBreh.png);
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 0.5rem;
  background-color: rgb(83, 83, 83);
}






